* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h4 {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("https://c1.wallpaperflare.com/path/565/385/156/sunset-brook-green-meadow-june-df867360f0bed19da26bbb3838498c8f.jpg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
}
.container {
  margin-left: auto;
  margin-right: auto;
}
.flex {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 16px;
  top: 120px;
}
.toDo {
  background-color: #ebecf0;
  width: 310px;
  height: fit-content;
  border-radius: 8px;
  gap: 16px;
  padding: 8px;
}

.header {
  font-family: "Roboto", sans-serif;
  padding: 8px;
  display: flex;
  gap: 12px;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
}
.add-btn {
  gap: 16px;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
}
.display-flex {
  display: flex;
}
span {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.add-btn:hover {
  background-color: rgb(220, 219, 219);
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.task {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fff;
  width: 400px;

  border-radius: 8px;
  padding: 16px;
}
input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
}
.description-area {
  height: 100px;
  padding: 8px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.status-area {
  width: 100%;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
button {
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  padding: 8px;
  margin-top: 24px;
}
.show {
  display: flex;
}
#inputs {
  display: flex;
  border-radius: 4px;
  height: fit-content;
  width: 100%;
  background-color: #fff;
  padding: 8px;
  gap: 12px;
}
.circle {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.margin-left-100px {
  margin-left: 50px;
}
.direction-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.level {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 20px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px;
}
.margin-top-10px {
  margin-top: 10px;
}
.gap-8px {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.width {
  width: 150px;
}
