* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://c1.wallpaperflare.com/path/565/385/156/sunset-brook-green-meadow-june-df867360f0bed19da26bbb3838498c8f.jpg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
}
.container {
  margin-left: auto;
  margin-right: auto;
}
.flex {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 16px;
  top: 120px;
}
.toDo {
  background-color: #ebecf0;
  width: 310px;
  height: auto;
  border-radius: 8px;
  gap: 16px;
  padding: 8px;
}

.header {
  font-family: "Roboto", sans-serif;
  padding: 8px;
  display: flex;
  gap: 12px;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
}
.add-btn {
  gap: 16px;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
}
.display-flex {
  display: flex;
}
span {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.add-btn:hover {
  background-color: rgb(220, 219, 219);
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.task {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.title {
  display: flex;
  flex-direction: column;
}
.input {
  position: absolute;
  background-color: #fff;
  width: 400px;
  height: 600px;
  border-radius: 8px;
  padding: 16px;
  gap: 16px;
}
input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
